<header style="background-image: url('/assets/Dripping Sink.jpg'); background-position:center; background-size: cover;">
	
	<div class="carousel-caption">
		<h3>Leaky Faucets</h3>
		<p>Repairing your leaky faucets can save over 3,000 gallons of water per year.</p>
	</div>

</header>

<section>

	<h1>Indoor Water Conservation</h1>

	<article>

		<h2>Fix Leaks</h2>

		<div class="row">

			<div class="col-sm-4 less-margin">

				<%= image_tag("info/leak") %>

			</div>

			<div class="col-sm-8">

				<p>Fixing leaks inside your home can save up to 10,000 gallons of water by fixing those leaks. Our nation wastes 1 trillion gallons annually. This is one simple step you can take inside your home to help conserve water. In the United States, ten percent of homes leaks that waste 90 gallons per day.</p>

			</div>

			<div class="col-sm-4">

				<p>More Information:</p>

				<ul>
					<li><a href="http://www.home-water-works.org/indoor-use/leaks" target="_blank">Home Water Works</a></li>
				</ul>

			</div>

	</article>

	<article>

		<h2>Turn Off Water When Not Using It</h2>

		<div class="row">

			<div class="col-sm-4 less-margin">

				<%= image_tag("info/turn-off") %>

			</div>

			<div class="col-sm-8">

				<p>When you turn off the tap while you brush your teeth in the morning and at night you can save up to 8 gallons of water. Every gallon we can save will make a difference. If you do this small step you can save up to 200 gallons a month. Being conservative with this small step can help utilize our remaining resource of fresh water and have your water bill costs less.</p>

			</div>

			<div class="col-sm-4">

				<p>More Information:</p>

				<ul>
					<li><a href="http://www.solsticebenefits.com/resources/resources-article.aspx?id=13" target="_blank">Solstice Benefits</a></li>
				</ul>

			</div>

	</article>

	<article>

		<h2>Install Low-Flow Water Fixtures</h2>

		<div class="row">

			<div class="col-sm-4 less-margin">

				<%= image_tag("info/shower") %>

			</div>

			<div class="col-sm-8">

				<p>Showering is one of the most water-intensive indoor activities. The average family uses about 40 gallons per day. That adds up to 1.2 trillion gallons in the United states with just showering. The standard showerhead uses around 2.5 gallons of water per minute. If you install a low flow head in your shower you can save up to 2,900 gallons per year. This goes for faucets also. Every step makes a difference in saving water and this is one step you can take!</p>

			</div>

			<div class="col-sm-4">

				<p>More Information:</p>

				<ul>
					<li><a href="http://www3.epa.gov/watersense/products/showerheads.html" target="_blank">US Environmental Protection Agency</a></li>
				</ul>

			</div>

	</article>

	<article>

		<h2>Use High-Efficiency Clothes and Dish Washers</h2>

		<div class="row">

			<div class="col-sm-4 less-margin">

				<%= image_tag("info/dishwasher") %>

			</div>

			<div class="col-sm-8">

				<p>A typical clothes washer uses about 40 gallons per load, but if you upgrade to a resource-efficient one you may use as little as 15 gallons per load. This is a huge difference when you are conserving water. Dishwashers usually set themselves on how much water they are going to use each wash. </p>

			</div>

			<div class="col-sm-4">

				<p>More Information:</p>

				<ul>
					<li><a href="http://www.homebase.co.uk/en/static/how-to-install-a-dishwasher-or-washing-machine" target="_blank">Home Base</a></li>
				</ul>

			</div>

	</article>

	<article>

		<h2>Reuse Water from Other Activities</h2>

		<div class="row">

		<div class="col-sm-8">

		<p>When you rinse your veggies off, you can help conserve water by collecting that water into a container and using it to fill up your pets water bowl or to water household plants. </p>

		</div>

		<div class="col-sm-4">

			<%= image_tag("info/reuse") %>

		</div>

		</div>

	</article>

	<article>

		<h2>Compost Food</h2>

		<div class="row">

		<div class="col-sm-8">

		<p>Using a garbage disposal requires water and energy which makes high bills and uses fresh water, and the United States has a limited resource. This can save 150-250 gallons per month. When you are done peeling or skinning your vegetables, don’t throw them down the garbage disposal: use them for compost. This is another tiny step you can take to help conserve water.</p>

		</div>

		<div class="col-sm-4">

			<%= image_tag("info/compost") %>

		</div>

		</div>

	</article>

	<article>

		<h2>Insulate Water Pipes</h2>

		<div class="row">

			<div class="col-sm-4 less-margin">

				<%= image_tag("info/pipe") %>

			</div>	

			<div class="col-sm-8">

				<p>Insulating your water pipes inside your home can increase your water's temperature by 2 F - 4 F. This is hotter than what uninsulated pipes can deliver, and this allows water to heat up faster. This also allows your water heater to have a lower water temperature setting. This is another beneficial step you can take to help conserve water. </p>

			</div>

			<div class="col-sm-4">

				<p>More Information:</p>

				<ul>
					<li><a href="http://energy.gov/energysaver/projects/savings-project-insulate-hot-water-pipes-energy-savings" target="_blank">US Department of Energy</a></li>
				</ul>

			</div>

	</article>

</section>