<header style="background-image: url('/assets/PivotWithDrops2.JPG'); background-position:center; background-size: cover;">
	
	<div class="carousel-caption">
		<h3>Wasteful Sprinklers</h3>
		<p>A farmer's sprinklers waste gallons of water by spraying it everywhere rather than delivering it directly to the plants.</p>
	</div>

</header>

<section>

	<h1>Outdoor Water Conservation</h1>

	<article>

		<h2>Water Your Lawn Only When Necessary</h2>

		<div class="row">
			<div class="col-sm-12">
				<p>Water your lawn only when necessary! It takes 660 gallons of water to supply a 1,000 square feet of lawn with one inch of water. This is nearly the same amount of water that you use indoors in an entire week.</p>
				<p>But wait, there's more! When should you water your lawn? Water it early in the morning or at night when the grass is already somewhat moist from the dew and temperatures are cooler. It’s much more water friendly than watering during the midday heat and ending up with dried up grass! At night it would also work extremely well because evaporation would be at a low for the day due to cooler temperatures.</p>
				<p>Mow lawns down to about 2.5 to 3 inches long. This will allow the grass to become thicker and collect more dew, which gives your lawn extra moisture. Taller, thicker lawns collect more moisture.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<%= image_tag("info/lawn") %>
			</div>
		</div>

	</article>

	<article>

		<h2>Hose Fixtures</h2>

		<div class="row">	
			<div class="col-sm-12">
				<p>Attach a pistol-type sprayer to the end of your garden hose. This device enables you to adjust the rate of flow and keep water from running during periods when you put down the hose without turning it off.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<%= image_tag("info/hose") %>
			</div>
		</div>

	</article>

	<article>

		<h2>Use Mulch</h2>

		<div class="row">
			<div class="col-sm-12">
				<p>Use mulch around trees and shrubs and in garden beds because this greatly reduces the amount of water lost through evaporation and the need for watering.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<%= image_tag("info/mulch") %>
			</div>
		</div>

	</article>

	<article>

		<h2>Drip Irrigation</h2>

		<div class="row">
			<div class="col-sm-12">
				<p>Consider using a drip garden irrigation system in your garden. It supplies water only to the root zones of plants and reduces weeding because it doesn’t water areas between crop rows and hills.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<%= image_tag("info/drip") %>
			</div>
		</div>

	</article>

	<article>

		<h2>Collect Rainwater</h2>

		<div class="row">
			<div class="col-sm-12">
				<p>You can collect rainwater and use it to water your garden and flower beds instead of just letting it soak into the ground.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<%= image_tag("info/drop") %>
			</div>
		</div>

	</article>

	<article>

		<p>Check out these links for more information:</p>

		<ul>
			<li><a href="http://waterandme.tamu.edu/ConservingWater/conservingwater.pdf" target="_blank">Texas A&M University</a></li>
			<li><a href="http://www.manchester-ia.org/index.asp?Type=B_BASIC&SEC=%7BC10AB9E3-F09C-43DB-8EC6-18E8783B0E81%7D" target="_blank">Manchester, Iowa</a></li>
		</ul>

	</article>

</section>

 <script>
//   $(document).ready(function(){
//     $('nav').addClass('affix')
//   })
// </script>