<div id="abouts">

	<h1>About Us</h1>

	<% @abouts.order(:name).each do |about| %>

		<div>

			<div  class="col-sm-3">
				<%= image_tag(about.image.url) %>
			</div>

			<%= cms_upload(about, :image, "Upload Portrait") %>

			<div class="col-sm-9">
				<h2><%= bip(about, :name) %></h2>
				<p><%= bip(about, :description, :textarea) %></p>

				<table>
					<tr>

						<td>
							<span class="glyphicon glyphicon-envelope"></span>
							<div>
								<a href="mailto:<%= about.email %>"><%= bip(about, :email) %></a>
							</div>
						</td>

						<td>
							<span class="glyphicon glyphicon-earphone"></span>
							<div>
								<p><%= bip(about, :phone) %></p>
							</div>
						</td>

					</tr>
				</table>

			</div>

			<div>
				<%= cms_delete(about) %>
			</div>

		</div>

		<hr>

	<% end %>

	<%= cms_add(abouts_path, "Add Person") %>

</div>
