<!DOCTYPE html>

<html>

	<head>

	  <title>Psa</title>

	  <!-- import stylesheets -->
	  <%= stylesheet_link_tag    'application-bootstrap', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'application-custom', media: 'all', 'data-turbolinks-track' => true %>

		<!-- import javascripts -->
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	  <%= csrf_meta_tags %>

	  <!-- ensure proper mobile scaling -->
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	</head>

	<body>
  <!--THESE ARE FOR THE USER ALERTS. PUT THEM SOMEWHERE PLZ AND THANKS.-->
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

		<div id="top-bar"></div>

		<div class="container">

			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- <a class="navbar-brand" href="/home"><span>Wise Water</span></a> -->
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<div id="main">

				<%= yield %>

			</div>

			<footer>

				<div>
					<a href="#">About Us</a>
					<a href="#">Site Map</a>
				</div>
				<div></div>
				<div></div>

			</footer>

		</div>

		<%= link_to 'About Us', '/about' %><span>|</span>

		<% if admin_signed_in? %>
				<%= link_to 'Logout', destroy_admin_session_path, method: :delete %>
			<% else %>
				<%= link_to 'Login', admin_session_path %>
			<% end %>

	</body>

</html>
