<!DOCTYPE html>

<html>

	<head>

		<title>H2-Whoa</title>

		<!-- import stylesheets -->
		<%= stylesheet_link_tag    'application-bootstrap', media: 'all', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'application-custom', media: 'all', 'data-turbolinks-track' => true %>

		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>		

		<!-- import javascripts -->
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

		<%= csrf_meta_tags %>

		<!-- ensure proper mobile scaling -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

	</head>

	<body>

	<!--THESE ARE FOR THE USER ALERTS. PUT THEM SOMEWHERE PLZ AND THANKS.-->
	<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

		<!-- <div id="top-bar"></div> -->

		<div class="container-fluid">

			<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="/home" id="home"><%= image_tag("logo", size: "50x80") %>H2Woah!</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/home">Home</a></li>
							<li><a href="#">Facts</a></li>
							<li><a href="#">DIY</a></li>
							<li><a href="#">Why</a></li>
							<li><a href="#">How</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="main">

				<%= yield %>

			</div>

			<footer class="row">

				<div class="col-sm-3">
					<div><%= link_to 'About Us', '/about' %></div>
					<div><%= link_to 'Credits', '/credits' %></div>
					<!-- <a href="#">Site Map</a> -->
					<% if admin_signed_in? %>
						<div><%= link_to 'Logout', destroy_admin_session_path, method: :delete %></div>
					<% else %>
						<div><%= link_to 'Admin Login', admin_session_path %></div>
					<% end %>
				</div>

				<div class="col-sm-3">
					<div><a href="#">Contact Us</a></div>
				</div>

				<div class="col-sm-6">
					<div><span>Sign up below for email updates:</span></div>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-envelope"></span></span>
						<input type="text" class="form-control" placeholder="EMAIL" aria-describedby="basic-addon1">
					</div>
				</div>

			</footer>

		</div>

	</body>

</html>
